@if (ChildContent != null)
{
    <em>@Title: </em>
    @if (InfoOnNewLine)
    {
        <br/>
        <div class="ps-3">
            @(ChildContent)
        </div>
    }
    else
    {
        @(ChildContent)
    }
    <br />
}



@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool InfoOnNewLine { get; set; } = false;
}

