@page "/"

<PageTitle>Viewer</PageTitle>

<h1>Let's see if we can open a file</h1>

<InputFile OnChange="@OpenFile">Choose File</InputFile>

<Notice Title="Privacy Notice:" Text="Files will not be stored on a server. All processing happens only on your device."/>

@code
{
    IBrowserFile loadedFile;

    async void OpenFile(InputFileChangeEventArgs e)
    {
        loadedFile = e.File;
    }
}