name: Deploy to GitHub Pages

on:
  push:
      branches: [ master ]
      
jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.9.0
      with:
        dotnet-version: '6.0.x'
        
    - name: Publish .NET Project
      run: dotnet workload install wasm-tools && dotnet publish GEDCOM-Viewer/GEDCOM-Viewer.csproj -c Release -o release --nologo
        
#     - name: Change base-tag in index.html from / to /{repo name}
#       run: sed -i 's/<base href="\/" \/>/<base href="\/gedcom-viewer\/" \/>/g' release/wwwroot/index.html
    
    - name: Add .nojekyll file
      run: touch release/wwwroot/.nojekyll
      
    - name: Commit wwwroot to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.2.2
      with:
        repository-name: Roshinator/gedcom-viewer.github.io
        branch: master
        folder: release/wwwroot
